/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import url('https://fonts.googleapis.com/css?family=Roboto&effect=outline');

body  {
	background-color: HSL(0,0%,96%);
}

h1 {
	color:HSL(0,0%,98%);
	font-family: 'Roboto';
}
